@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-grigio {
    background-color: lightgray !important;

    a {
        text-decoration: none;

    }
}

.pagination {
    justify-content: center;
    margin: 30px 0px;
}

.verde {
    background-color: green;
}

.padding_mine {
    padding: 1.5rem 0rem;
}

.justify_mine {
    justify-content: flex-end;
}

.nav-link {
    color: white !important;
    font-size: 1.5rem;
}

.navbar-nav {
    gap: 3rem;
}

.link_mine {
    color: black;
}

.link_mine:hover {
    color: black;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.confirmation {
    position: absolute;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
    border-radius: 12px;
}